.school {
    letter-spacing: 20px; /* 철자 사이와의 간격 */
    text-indent: 30px; /* 들여쓰기 */
}
p {
    text-transform: capitalize; /* 띄어쓰기 단위로 첫글자만 대문자 */
    /* lowercase - 전부 소문자 */
    /* uppercase - 전부 대문자 */
}
a {
    text-decoration: none;
    color: #000;
}
body {
    background-color: #aaa;
    font-family: 돋움;
    font-size: 17px;
}
* {
    margin: 0; /* 태그 사이 바깥 여백 */
    padding: 0; /* 태그 안쪽 여백 */
}